<!DOCTYPE html>
<html lang="en">
<head id="head">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>
<script>
  $(function(){
    $("#head").load("/head.html");
    $("#header").load("/header.html");
    $("#cart").load("/cart.html");
    $("#footer").load("/footer.html");
  });
  </script>
<body>
  <div id="cart"></div>
  <header id="header"></header>

  <h1>Checkout</h1>
  <div><img src=""><h3>Name</h3><p>Price</p></div>
  <div><img src=""><h3>Name</h3><p>Price</p></div>
  <div><img src=""><h3>Name</h3><p>Price</p></div>
  <div><img src=""><h3>Name</h3><p>Price</p></div>
  <p>Sub total: $$$$</p>
  <hr>
  <p>Taxes: $$$</p>
  <p>Service fees: $$$</p>
  <hr>
  <p>Total: $$$</p>

  <h1>Order Confirmed</h1>
  <footer id="footer"></footer>
</body>
</html>
