<!DOCTYPE html>
<html lang="en">
<head id="head">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>
<script>
  $(function(){
    $("#head").load("/head.html");
    $("#header").load("/header.html");
    $("#cart").load("/cart.html");
    $("#footer").load("/footer.html");
  });
  </script>
<body>
  <div id="cart"></div>
  <header id="header"></header>
  <section>
  <h1>Contact Us</h1>
  <p>Phone: 905-434-1909</p>
  <p>Email: support@spicychurro.com</p>
</section>
  <footer id="footer"></footer>
</body>
</html>
