<!DOCTYPE html>
<html lang="en">
<head id="head">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>
<script>

  $(function(){
    $("#head").load("/head.html");
    $("#header").load("/header.html");
    $("#cart").load("/cart.html");
    $("#footer").load("/footer.html");
  });
  // $(function(){
  //   alert("hello" + results);
  // });
  </script>
<body>
  <div id="cart"></div>
  <header id="header"></header>
  <h1>Menu</h1>
  <section class="items">
</section>
<div class="toppings">
  <form method="POST" action="\cart">
    <input type="text" id="item_id">
    <input type="text" id="size" placeholder="Large, Medium">
    <input type="range" id="spice" min="0" max="5" placeholder="3">
    <label for="spice">Spice Level from 0 to 5</label><br>
    <input type="checkbox" id="tomato" name="tomato" value="1">
    <label for="tomato">Tomato</label><br>
    <input type="checkbox" id="lettuce" name="lettuce" value="1">
    <label for="lettuce">Lettuce</label><br>
    <input type="checkbox" id="beans" name="beans" value="1">
    <label for="beans">Beans</label><br>
    <input type="checkbox" id="cheese" name="cheese" value="1">
    <label for="cheese">Cheese</label><br>
    <input type="checkbox" id="guac" name="guac" value="1">
    <label for="guac">Guac</label><br>
    <input type="checkbox" id="cilantro" name="cilantro" value="1">
    <label for="cilantro">Cilantro</label><br>
    <input type="checkbox" id="rice" name="rice" value="1">
    <label for="rice">Rice</label><br>
    <input type="checkbox" id="noodles" name="noodles" value="1">
    <label for="noodles">Noodles</label><br>
    <input type="submit" value="Add to Cart">
  </form>
</div>
  <footer id="footer"></footer>
</body>
</html>
