<!DOCTYPE html>
<html lang="en">
<head id="head">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>
<script>

  $(function(){
    $("#head").load("/head.html");
    $("#header").load("/header.html");
    $("#cart").load("/cart.html");
    $("#footer").load("/footer.html");
  });
  // $(function(){
  //   alert("hello" + results);
  // });
  </script>
<body>
  <div id="cart"></div>
  <header id="header"></header>
  <h1>Menu</h1>
  <section class="items">
</section>
<div class="toppings">
  <h4>Customizations</h4>
  <form id = "customForm" method="POST" action="\cart">
    <input type="text" name= "item_id" id="item_id">
    <label for="large">Large</label>
    <input type="radio" id="large" name="size" value="Large">
    <label for="medium">Medium</label>
    <input type="radio" id="medium" name="size" value="Medium">
    <label for="small">Small</label>
    <input type="radio" id="small" name="size" value="Small"><br>
    <label class="sec" for="spice">Spice Level from 0 to 5</label><br>
    <input class="sec" type="range" id="spice" name="spice_level" min="0" max="5" placeholder="NULL"><br>
    <input class="sec" type="checkbox" id="tomato" name="tomato" value="TRUE">
    <label class="sec" for="tomato">Tomato</label><br>
    <input class="sec" type="checkbox" id="lettuce" name="lettuce" value="TRUE">
    <label class="sec" for="lettuce">Lettuce</label><br>
    <input class="sec" type="checkbox" id="beans" name="beans" value="TRUE">
    <label class="sec" for="beans">Beans</label><br>
    <input class="sec" type="checkbox" id="cheese" name="cheese" value="TRUE">
    <label class="sec" for="cheese">Cheese</label><br>
    <input class="sec" type="checkbox" id="guac" name="guac" value="TRUE">
    <label class="sec" for="guac">Guac</label><br>
    <input class="sec" type="checkbox" id="cilantro" name="cilantro" value="TRUE">
    <label class="sec" for="cilantro">Cilantro</label><br>
    <input class="sec" type="checkbox" id="rice" name="rice" value="TRUE">
    <label class="sec" for="rice">Rice</label><br>
    <input class="sec" type="checkbox" id="noodles" name="noodles" value="TRUE">
    <label class="sec" for="noodles">Noodles</label><br>
    <div class="sideButton">
      <input type="submit" value="Add to Cart">
      <input id="closeToppings" type='button' value='Order Something Else'>
    </div>
  </form>

</div>
  <footer id="footer"></footer>
</body>
</html>
