header{
  width:100%;
  height: 100px;
  background-color:#3b2523;
  display:flex;
  justify-content: space-between;
}
nav{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  height:100%;

}
a.nav{
  height:100%;
  width:70px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#ef4507;
  text-decoration: none;
}
.nav:hover{
  background-color:#efdeb2;
}
#cart{
  display:none;
}
.mobile{
  display:none;
}
@media (max-width: 950px) {
  .desktop{
    display:none;
  }
  .mobile{
    display:block;
    height:100px;
  }
  }
