/*colors
brown: #3b2523
orange: #ef4507
yellow: #e6c923
tan: #efdeb2
green: #7e9e00
*/



body {
  background-color: #efdeb2;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}
section{
  height:100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:100px;
  padding-left:10%;
  padding-right:10%;
}
section.items{
  width:100%;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  display:block;
  margin-top:0;
}
.title{
  position:center;
}
a:link, a:visited{
  color:#7e9e00;
}
.welcome_image{
  width:100%;
  height:75%;
}
article.about{
  width:50%;
  padding:1%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article.menu{
  width:33%;
  padding:1%;
  display:inline-block;
}
.menu:hover{
  cursor: pointer;
  border-style:solid;
  border-color:#7e9e00;
  box-shadow: 5px 10px;
}
.hidden_id{
  display:hidden;
}
div.articles{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 950px) {
  section.items{
    height:100%;
  }
article.menu{
  width:100%;
}
}
